.adventures {
  background-image: linear-gradient(to bottom, $color-white2, $color-white);
  color: $color-grey-dark-2;
  position: relative;
  z-index: 3;
  line-height: 1.7;
  padding: 0 1rem;

  & .design {
    height: 35rem;
    width: 35rem;
    border-radius: 2rem 0 0 2rem;
    position: absolute;
    top: -2rem;
    right: 0;
    background-color: rgba($color-secondary-dark, 0.2);
    z-index: -1;

    &-2 {
      border-radius: 0 2rem 2rem 0;
      top: 51rem;
      left: 0;
      background-color: rgba($color-primary2-light, 0.2);
    }
  }

  & .heading-bg {
    padding: 4rem 0 2rem;
  }

  &__heading {
    &-2 {
      text-align: center;
    }
  }

  & .sliderContainer {
    @include respond(tablet-589) {
      margin: 0 auto;
      overflow: hidden;
      width: 89vw;
    }
    @include respond(tablet-530) {
      width: 95vw;
    }

    & > div > div:nth-of-type(n + 4) {
      @include respond(laptop-1024) {
        display: none;
      }
      @include respond(notebook-768) {
        display: inline-block;
      }
    }
    & > div > div:nth-of-type(n + 5) {
      @include respond(desktop-1300) {
        display: none;
      }
      @include respond(tablet-589) {
        display: inline-block;
      }
    }
  }

  &__box {
    width: 100vw;
    // height: 47rem;
    display: grid;
    grid-template-columns: repeat(5, 25rem);
    grid-template-rows: 37rem;
    grid-auto-rows: 0%;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    gap: 2rem;
    z-index: 1000;

    @include respond(desktop-1400) {
      gap: 0.9rem;
    }
    @include respond(desktop-1300) {
      gap: 1.3rem;
      grid-template-columns: repeat(4, 25rem);
    }
    @include respond(laptop-1200) {
      grid-template-columns: repeat(4, 25rem);
    }
    @include respond(laptop-1093) {
      gap: 0.7rem;
    }
    @include respond(laptop-1024) {
      grid-template-columns: repeat(3, 25rem);
      gap: 3rem;
    }
    @include respond(notebook-867) {
      gap: 1rem;
    }
    @include respond(notebook-768) {
      gap: 2rem;
      grid-template-columns: repeat(2, 25rem);
      grid-template-rows: repeat(2, 37rem);
      padding: 3rem 0 1rem;
    }
    @include respond(tablet-589) {
      display: flex;
      gap: 1.5rem;
      justify-content: flex-start;
    }
    @include respond(tablet-480) {
      gap: 1rem;
    }
  }

  & a {
    display: block;
    width: max-content;
    margin: 2rem auto 0;
  }

  &__awards-box {
    width: 100%;
    display: grid;
    grid-template-rows: 11rem;
    grid-template-columns: repeat(7, 11rem);
    gap: 2rem;
    justify-content: center;
    user-select: none;

    @include respond(tab-portE) {
      grid-template-rows: 10rem;
      grid-template-columns: repeat(7, 10rem);
      gap: 1.5rem;
    }

    @include respond(tab-port) {
      gap: 1rem;
    }

    @include respond(tab-portSB) {
      grid-template-rows: 8rem;
      grid-template-columns: repeat(7, 8rem);
      gap: 0.5rem;
    }

    &-rounded {
      border-radius: 50rem;
    }
  }
}
