.adventures {
  background-image: linear-gradient(to bottom, $color-white2, $color-white);
  color: $color-grey-dark-2;
  position: relative;
  z-index: 3;
  line-height: 1.7;

  & .design {
    height: 35rem;
    width: 35rem;
    border-radius: 2rem 0 0 2rem;
    position: absolute;
    top: -2rem;
    right: 0;      
    background-color: rgba($color-secondary-dark, .2);
    z-index: -1;

    &-2 {
      border-radius: 0 2rem 2rem 0;
      top: 51rem;
      left: 0;
      background-color: rgba($color-primary2-light, .2);
    }
  }

  & .heading-bg {
    padding: 4rem 0 2rem;
  }

  &__heading {

    &-2 {
      padding: 0 0 0 13rem;

      // @include respond()
    }
  }

  &__box {
    width: 100vw;
    // height: 47rem;
    padding: 3rem 0;;
    display: grid;
    grid-template-columns: repeat(5, 25rem);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1000;

    @include respond(tab-landB) {
      gap: .5rem;
    }

    @include respond(tab-landE) {
      gap: 1rem;
      grid-template-columns: repeat(4, 25rem);
      grid-auto-flow: column;
      grid-auto-columns: 0rem;
    }
  }

  &>a {
    margin-top: 5rem;
  }

  &__awards-box {
    width: 100%;
    display: grid;
    grid-template-rows: 11rem;
    grid-template-columns: repeat(7, 11rem);
    gap: 2rem;
    justify-content: center;
    user-select: none;

    &-rounded {
      border-radius: 50rem;
    }

    & img {
      display: inline-block;
      flex-basis: 11rem;
      height: 11rem;
      margin: 0 1rem;

      @include respond(tab-port) {
        margin: .4rem;
        flex-basis: 9rem;
        height: 9rem;
      }
    }
  }
}

  