.adventures {
  background-image: linear-gradient(to bottom, $color-white2, $color-white);
  color: $color-grey-dark-2;
  position: relative;
  z-index: 3;
  line-height: 1.7;

  & .design {
    height: 35rem;
    width: 35rem;
    border-radius: 2rem 0 0 2rem;
    position: absolute;
    top: -2rem;
    right: 0;      
    background-color: rgba($color-secondary-dark, .2);
    z-index: -1;

    &-2 {
      border-radius: 0 2rem 2rem 0;
      top: 51rem;
      left: 0;
      background-color: rgba($color-primary2-light, .2);
    }
  }

  & .heading-bg {
    padding: 4rem 0 2rem;
  }

  &__heading {

    &-2 {
      padding: 0 0 0 13rem;

      // @include respond()
    }
  }

  &__box {
    width: 100vw;
    // height: 47rem;
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    // @include respond(tab-landB) {
    //   justify-content: space-between;
    // }

    &::-webkit-scrollbar {
      height: 2rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-grey-light;
      border-radius: 50rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 5px solid transparent;
      background-clip: content-box;
      background-image: linear-gradient(145deg, rgba($color-secondary-dark, .6), rgba($color-primary2-dark, .6))
    }

    &::-webkit-scrollbar-thumb:hover {
      background-image: linear-gradient(145deg, rgba($color-secondary-dark, 1), rgba($color-primary2-dark, 1))
    }

    // @include respond(tab-landE) {
    //   overflow: auto;
    // }
  }

  &>a {
    margin-top: 5rem;
  }

  &__awards-box {
    width: 100%;
    display: grid;
    grid-template-rows: 11rem;
    grid-template-columns: repeat(7, 11rem);
    gap: 1rem;
    justify-content: center;
    user-select: none;

    &-rounded {
      border-radius: 50rem;
    }

    & img {
      display: inline-block;
      flex-basis: 11rem;
      height: 11rem;
      margin: 0 1rem;

      // @include respond(tab-port) {
      //   margin: .4rem;
      //   flex-basis: 9rem;
      //   height: 9rem;
      // }
    }
  }
}

  