.header__something {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Sofia",georgia,sans-serif;
  font-weight: normal;
}

.header__heading {
  display: inline-block;
  padding: 0 .3rem;
  /* color: transparent; */
  /* background-image: linear-gradient(145deg, rgba($color-secondary-dark, .8), rgba($color-secondary-light, 1)); */
  background-image: linear-gradient(145deg, rgba( black, .8), rgba(white, 1));
  -webkit-background-clip: text;
  backface-visibility: hidden;
  animation: moveInRight 1s ease-out;
}

.header__heading-2 {
  display: inline-block;
  padding: 0 .3rem;
  /* color: transparent; */
  /* background-image: linear-gradient(145deg, rgba($color-secondary-dark, .8), rgba($color-secondary-light, 1)); */
  background-image: linear-gradient(145deg, rgba (black, .8), rgba(white, 1));
  -webkit-background-clip: text;
  backface-visibility: hidden;
  animation: moveInLeft 1s ease-out;
}