.navbar {
  display: grid;
  position: fixed !important;
  top: 0 !important;
  // justify-content: space-between;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  height: 8.05rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 17;
  background-color: rgba($color: $color-secondary-dark, $alpha: .95);

  @include respond(tablet-666) {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    height: 7rem;
  }
}

.box {
  align-self: flex-end;
  flex-shrink: 0;
  padding-left: 2rem;

  @include respond(notebook-768) {
    // padding-left: 1rem;
  }

  & > a {
    display: flex;
    align-items: flex-end;
    transform: translateY(1rem);
  }
}

