.nav-box {
  text-decoration: none;
  color: white;
  /* color: $color-white2; */
  backface-visibility: hidden;
  cursor: pointer;
}

.dropbtn {
  position: relative;
  padding: 1.5rem 1rem 1.5rem 1rem;
  transition: .3s ease;
}

.active-dbtn {
  /* color: $color-black-2; */
  color: black;
}

.active-dbtn::after {
  content: "";
  display: inline-block;
  top: 63%;
  left: 50%;
  transform: translate(-50%, 0);
  border-width: .9rem;
  border-style: solid;
  border-color: transparent transparent rgba(black, .95) transparent;
  position: absolute;
}

.dropdown-content-2 {
  position: absolute;
  padding: 3rem 2rem;
  top: 8.05rem;
  left: 0rem;
  background-color: rgba(black, .95);
  min-width: 100%;
  transition: .3s ease;
}

.dropdown-content-2:hover .dropbtn:not(.active-dbtn) {
  /* color: $color-secondary-light; */
  color: white;
}

.dropdown-content-2:hover .dropdown-btnAct:not(.active-dbtn) {
  /* color: $color-light-grey !important; */
  color: grey;
}

.nav__row {
  display: flex;
  justify-content: center;
  /* color: $color-white; */
  color: white;
}