.list {
  list-style-type: none;
  flex-basis: 25%;
}

.list li {
  align-self: stretch;
  transition: .2s ease;
  backface-visibility: hidden;
}

.list h4 {
  padding: 1rem 0;
}

.list a {
  padding: .5rem;
  text-decoration: none;
  color: #bebec8;
  font-size: 1.7rem;
  font-weight: normal;
  backface-visibility: hidden;
}

.list li:hover:not(.list-header) {
  /* color: $color-white; */
  color: white;
}

.list li:hover a {
  /* color: $color-white; */
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}