.profileBox {
  align-self: flex-end;
  width: 8rem;
  height: 4.4rem;
  padding: 0 .9rem 0;
  margin: 0 3rem .5rem 0;
  border-radius: 5rem;
  /* background-color: $color-white2; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* .material-icons {
  color: $color-grey-dark;
  color: grey;
} */

.material-icons-1 {
  /* color: $color-grey-dark; */
  color: grey;
  font-size: 18px;
  margin-right: .7rem;
}

.material-icons-2 {
  /* color: $color-grey-dark; */
  color: grey;
  font-size: 36px;
  position: relative;
}

.material-icons-2::after {
  content: "";
  display: inline-block;
  /* background-color: $color-secondary-dark; */
  background-color: grey;
  /* border: 2px solid $color-white2; */
  border: 2px solid white;
  border-radius: 50rem;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  top: .1rem;
  right: .1rem;
}

.dropdown-content-1 {
  top: 4.9rem;
  border-radius: 0 0 1rem 1rem;
  /* background-color: $color-white2; */
  background-color: white;
  min-width: 20rem;
  right: 0rem;
  overflow: hidden;
}

/* a:hover {
  background-color: #f1f1f1;
} */