.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 17vh;
  left: 0;
  cursor: pointer;
  z-index: 15;

  @include respond(tablet-553) {
    height: 6rem;
  }
  @include respond(tablet-480) {
    display: none;
  }

  & > div {
    @include respond(tablet-553) {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
    }
  }
}

.active-hov {
  background-color: $color-white !important;
  box-shadow: 0px 6px 20px rgba($color-black, 0.5);
}

.inactive_hov {
  background-color: transparent;
}

.form {
  display: flex;
  background-color: $color-white;
  color: $color-black;
  border-radius: 8rem;
  height: 6rem;
  width: 70rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  @include respond(notebook-974) {
    width: 65rem;
  }
  @include respond(notebook-768) {
    width: 60rem;
  }
  @include respond(tablet-666) {
    width: 55rem;
  }
  @include respond(tablet-589) {
    width: 51rem;
  }
  @include respond(tablet-553) {
    width: 95%;
  }
}

.control {
  line-height: 1;
  height: 6rem;
  border-radius: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.control:hover:not(.active-hov),
#box-4:hover:not(.active-hov) {
  background-color: #d5d5d5;
}

#box-1 {
  padding: 0 0 0 3rem;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  flex-grow: 1;

  @include respond(notebook-974) {
    padding: 0 0 0 1.5rem;
    flex-basis: 34%;
  }
  @include respond(tablet-666) {
    flex-basis: 49%;
  }
  @include respond(tablet-553) {
    flex-basis: 34%;
  }
}

#box-1 label {
  cursor: pointer;
}

#box-1 input {
  width: 20rem;
  margin-top: 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;

  @include respond(tablet-666) {
    font-size: 1.3rem;
  }
}

#box-1 input::placeholder {
  font-family: "montserrat", verdana, sans-serif;
  color: $color-grey-dark;
}

#box-2,
#box-3 {
  padding: 1rem 1rem 1rem 1rem;
  flex-basis: 21%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include respond(notebook-974) {
    padding: 1rem 0.5rem 1rem 0.5rem;
    flex-basis: 20%;
  }
  @include respond(tablet-666) {
    flex-basis: 18%;
  }
  @include respond(tablet-553) {
    padding: 1rem 0.2rem 1rem 0.2rem;
    flex-basis: 34%;
  }
}

#box-2 span:first-of-type,
#box-3 span:first-of-type {
  // margin: 0 1rem 0 0 ;
}

#box-2 span:last-of-type,
#box-3 span:last-of-type {
  color: $color-grey-dark;
}

#box-2 {
  @include respond(tablet-553) {
    display: none;
  }
}

#box-3 {
  @include respond(tablet-553) {
    flex-shrink: 0;
  }
}

#box-4 {
  flex-basis: 23%;
  padding: 0 0.8rem 0 1rem;
  border-radius: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include respond(notebook-974) {
    flex-basis: 26%;
  }
  @include respond(tablet-666) {
    flex-basis: 25%;
  }
  @include respond(tablet-553) {
    flex-basis: 28%;
    gap: 1rem;
  }
}

#box-4 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
}

#box-4 button {
  text-decoration: none;
  color: $color-white;
  width: 4.7rem;
  height: 4.7rem;
  padding: 0 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background-color: $color-secondary-dark;
  position: relative;
  cursor: pointer;
  transition: width 0.3s;

  @include respond(notebook-974) {
    padding: 0 0 0 0.5rem;
  }
  @include respond(tablet-553) {
    padding: 0;
    gap: 1rem;
  }

  & .material-icons {
    font-size: 1.9rem;
    margin-top: 0.3rem;
  }
}

#box-4 button span:last-child {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: $color-white;
  display: none;
  transition: 0.3s;

  @include respond(notebook-974) {
    left: 65%;
  }
  @include respond(tablet-553) {
    display: none !important;
  }
}

#box-4 button:hover {
  background-color: #b06d1c;
}

.button-Expand {
  width: 10.5rem !important;
  justify-content: flex-start !important;

  @include respond(notebook-974) {
    width: 7.5rem !important;
  }
  @include respond(tablet-666) {
    width: 7rem !important;
  }
  @include respond(tablet-553) {
    width: 6rem !important;
    justify-content: center !important;
  }
}

.calendarContainer {
  position: absolute;
  top: 110%;
  // width: 100%;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 50rem 50rem;
  justify-content: center;
  background-color: $color-white2;
  // z-index: 20;

  @include respond(laptop-1024) {
    grid-template-columns: 40rem 40rem;
  }
  @include respond(notebook-867) {
    grid-template-columns: 35rem 35rem;
  }
  @include respond(notebook-768) {
    grid-template-columns: 30rem 30rem;
  }
  @include respond(notebook-768) {
    grid-template-columns: 28rem 28rem;
  }
}
