.navbar {
  display: grid;
  position: fixed !important;
  top: 0 !important;
  // justify-content: space-between;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  height: 8.05rem;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 100;
  background-color: rgba($color: $color-secondary-dark, $alpha: 0.95);

  @include respond(tablet-666) {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    height: 7rem;
  }
}

.clearFix {
  height: 8.05rem;

  @include respond(tablet-666) {
    height: 7rem;
  }
}

.box {
  // align-self: flex-end;
  flex-shrink: 0;
  padding-left: 2rem;

  @include respond(notebook-768) {
    // padding-left: 1rem;
  }

  & > a {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 8.5rem;
    height: 6rem;

    @include respond(notebook-768) {
      width: 8rem;
      height: 5.5rem;
    }
    @include respond(tablet-480) {
      height: 4.5rem;
      width: 6.5rem;
    }
  }
}
