.adventures__cards {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  perspective: 150rem;
  flex-shrink: 0;
  opacity: 0;
  transform: translateY(20rem);
  // overflow: hidden;

  @include respond(tablet-589) {
    flex-basis: calc((100% - 1.5rem) / 2);
    height: 37rem;
  }
  @include respond(tablet-480) {
    flex-basis: calc((100% - 1rem) / 2);
    height: 30rem;
  }

  &-rotate {
    position: relative;
    transition: 0.4s linear;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  &-side {
    height: 100%;
    width: 100%;
    box-shadow: 0 0.2rem 0.8rem rgba($color-black, 0.25);
    position: absolute;
    top: 0;
    left: 0;

    &-front {
      background-color: $color-grey-light;
      backface-visibility: hidden;
      // height: 100%;
      // width: 100%;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    &-back {
      transform: rotateY(-180deg);
      opacity: 0;
      transition: 0s linear 0.2s;
      // height: 100%;
      // width: 100%;

      & > .bg {
        height: 100%;
        padding: 0 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-1 {
          background-image: linear-gradient(
            145deg,
            rgba($color-tertiary-dark, 1),
            rgba($color-secondary-dark, 1)
          );
        }

        &-2 {
          background-image: linear-gradient(
            145deg,
            rgba($color-tertiary-light, 1),
            rgba($color-tertiary-dark, 1)
          );
        }

        &-3 {
          background-image: linear-gradient(
            145deg,
            rgba($color-tertiary-light, 1),
            rgba($color-primary-dark, 1)
          );
        }

        &-4 {
          background-image: linear-gradient(
            145deg,
            rgba($color-primary-dark, 1),
            rgba($color-primary2-light, 1)
          );
        }

        &-5 {
          background-image: linear-gradient(
            145deg,
            rgba($color-primary2-light, 1),
            rgba($color-primary2-dark, 1)
          );
        }

        &-6 {
          background-image: linear-gradient(
            145deg,
            rgba($color-primary-light, 1),
            rgba($color-primary-dark, 1)
          );
        }

        & > .img {
          position: relative;
          width: 100%;
          height: 40%;
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        }

        & > a {
          margin: 0;
          padding: 0.7rem 2rem;

          @include respond(tablet-560) {
            padding: 0.5rem 1.3rem;
          }
        }
      }
    }

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-black;
      backface-visibility: hidden;

      & li {
        padding: 0.25rem;
        width: 100%;
        position: relative;
        color: $color-white2;
        backface-visibility: hidden;
        // transform: scale(0.98);
      }
    }
  }

  &:hover &-rotate {
    transform: rotateY(-180deg) scale(1.02);
    z-index: 10;
  }

  &:hover &-side-back {
    opacity: 1;
  }
}

.adventures__heading-3 {
  color: $color-white;
  padding: 0 0 2rem 0;
  position: absolute;
  height: 100%;
  width: 100%;

  & > .front-text {
    padding: 0.5rem 1rem;
    position: absolute;
    right: 1rem;

    @include respond(phones-420) {
      right: .5;
      padding: 0.5rem;
    }

    &-11 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-dark, 0.65),
        rgba($color-secondary-dark, 0.65)
      );

      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-12 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-dark, 0.65),
        rgba($color-secondary-dark, 0.65)
      );
    }

    &-21 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-light, 0.8),
        rgba($color-tertiary-dark, 0.8)
      );
      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-22 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-light, 0.8),
        rgba($color-tertiary-dark, 0.8)
      );
    }

    &-31 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-light, 0.65),
        rgba($color-primary-dark, 0.65)
      );
      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-32 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-tertiary-light, 0.65),
        rgba($color-primary-dark, 0.65)
      );
    }

    &-41 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary-medium, 0.65),
        rgba($color-primary2-light, 0.65)
      );
      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-42 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary-medium, 0.65),
        rgba($color-primary2-light, 0.65)
      );
    }

    &-51 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary2-light, 0.65),
        rgba($color-primary2-dark, 0.65)
      );
      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-52 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary2-light, 0.65),
        rgba($color-primary2-dark, 0.65)
      );
    }

    &-61 {
      top: 73%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary-light, 0.65),
        rgba($color-primary-dark, 0.65)
      );
      @include respond(laptop-1093) {
        top: 74%;
      }
      @include respond(notebook-867) {
        top: 75%;
      }
    }
    &-66 {
      top: 85%;
      background-image: linear-gradient(
        145deg,
        rgba($color-primary-light, 0.65),
        rgba($color-primary-dark, 0.65)
      );
    }
  }
}

.slide {
  &-0 {
    animation: moveInBottom 0.5s ease-in-out forwards;
  }

  &-1 {
    animation: moveInBottom 0.8s ease-in-out forwards;
  }

  &-2 {
    animation: moveInBottom 1.1s ease-in-out forwards;
  }

  &-3 {
    animation: moveInBottom 1.4s ease-in-out forwards;
  }

  &-4 {
    animation: moveInBottom 1.7s ease-in-out forwards;

    @include respond(tab-landE) {
      display: none;
    }

    @include respond(tab-portE) {
      display: block;
    }
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0.5;
    transform: translateY(20rem);
  }

  80% {
    opacity: 1;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
