*,
*::after,
*::before {
  margin: 0;
  max-width: 100%;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  /* 1 rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%; 
}

body {
  font-family: 'montserrat',
  verdana,
  sans-serif;
  font-size: 1.6rem;
  color: black;
  box-sizing: border-box;
  padding: 0;
}

::selection {
  color: $color-white; 
  background-color: rgba($color-secondary-dark, .5); 
}


[class~=heading__primary] {
  font-size: 4rem;

  /* @include respond(tab-port) {
    font-size: 4.5rem;
  }

  @include respond(tab-portS) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3.5rem;
  } */
}

[class~=heading__secondary] {
  font-size: 3.2rem;

  /* @include respond(tab-port) {
    font-size: 3.2rem;
  }

  @include respond(tab-portS) {
    font-size: 2.7rem;
  } */
}

[class~=heading__secondary-2] {
  font-size: 2.5rem;

  /* @include respond(tab-port) {
    font-size: 2.2rem;
  }

  @include respond(tab-portS) {
    font-size: 1.9rem;
  } */
}

[class~=heading__tertiary] {
  font-size: 2.2rem;
}

[class~=text__primary] {
  font-size: 1.6rem;
}

[class~=text__primary-big] {
  font-size: 2rem;
}

[class~=text__primary-small] {
  font-size: 1.4rem;
}

.center {
  text-align: center;
}

div[class=clearfix]::after {
  content: "";
  clear: both;
  display: table;
}

.margin-b-small {
  margin-bottom: 1rem
}

.margin-b-medium {
  margin-bottom: 3rem
}

.margin-b-medium-2 {
  margin-bottom: 4.5rem
}

.margin-b-big {
  margin-bottom: 6rem
}

.margin-b-large {
  margin-bottom: 10rem;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
}